<p id="notice"><%= notice %></p>

<h1>Links</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Short url</th>
      <th scope="col">Original url</th>
      <th scope="col">Expiration date</th>
      <th scope="col">Cliks</th>
      <th scope="col"></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.short_url %></td>
        <td><%= link.original_url %></td>
        <td><%= !link.expiration_date.nil? ? link.expiration_date.strftime('%Y-%m-%d') : "-------------" %></td>
        <td><%= link.cliks %></td>
        <td><%= link_to 'Show', link, class: "btn btn-sm btn-primary", role: "button" %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger", role: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path, class: "btn btn-primary", role: "button" %>
