<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :original_url %>
    <%= form.text_field :original_url, id: :link_original_url, class: 'form-control', required: true, pattern: "^(http|https):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}" %>
  </div>

  <div class="form-group">
    <%= form.label :expiration_date %>
    <%= form.text_field :expiration_date, id: :link_expiration_date, class: "form-control", "data-provide": 'datepicker', 'autocomplete': 'off' %>
  </div>

  <div class="form-group">
    <%= form.label :available_through do %>
      Available through seconds
    <% end %> 
    <%= form.select :available_through, options_for_select((10..180).step(10)), { include_blank: 'Available through sec'} , { id: :link_available_through, class: "form-control" } %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
